<h2>Dashboard</h2>

<!-- put links to your tables here
<a href="#x_bar_s_table">Important Stats (<i>Median</i> Mean / SD)</a><br />
<a href="#imc_plus_minus">IMC Pass or Fail Stats (<i>Median</i> Mean / SD)</a><br />
<a href="#nfc_imc">Need for Cognition on IMC Pass or Fail (<i>Median</i> Mean / SD)</a><br />
<a href="#data_and_histograms">Data and Histograms</a><br />
<a href="#attrition_effects_table">Attrition by Experimental Group</a><br />
<a href="#imc_pass_rates_effects_table">IMC Pass Rates by Experimental Group</a><br />


and your notes here
<h3>Notes:</h3>
Beer question responses smaller than 0 or greater than 9.99 are discarded<br />
All tests carried out at the &alpha; = <%= StatisticsTools::AlphaLevel %> level<br />
If n &lt; 30, disregard the t-statistics and the p-values<br />-->

